*.d
*~
*.o
.deps/
.dirstamp
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/autostuff/
/bin/arachne-pnr
/bin/arachne-pnr.exe
/tests/test_bv
/tests/test_us
/config.h
/config.h.in
/config.log
/config.status
/configure
/diff
save
/fuzz/*/findings
/src/version_*.cc
/stamp-h1
/tests/*/1k
/tests/*/8k
/tests/*/run*-test.sh
/share
